@import '../abstract/variaveis';

.cabecalho {
    text-align: center;
    margin: 5rem;

    .about {
        font-weight: 600;
        line-height: 24px;
        color: $cor-button-logar;
        padding: 1rem;
    }

    .about__titulo {
        padding: 1rem;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.96px;
    }

    .about_text {
        padding: 1rem;
        font-size: 20px;
        font-weight: 400;
        color: var(--gray-500, $cor-texto-link);
        text-align: center;
    }
}