html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.navbar {
  width: 95%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar .logo h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #3A404E;
}
.navbar .container__navbar {
  align-self: center;
}
.navbar .container__navbar .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.navbar .container__navbar .navbar__list .list-link a {
  text-align: center;
  text-decoration: none;
  color: var(--gray-500, #667085);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.navbar .botoes-logar .botao {
  background: #ffffff;
  border: none;
}
.navbar .botoes-logar .botao .botao-link {
  color: var(--gray-500, #667085);
}
.navbar .botoes-logar button {
  border-radius: 8px;
  padding: 10px 18px;
  border: 1px solid #8e2424;
  background: #8e2424;
}
.navbar .botoes-logar button a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.cabecalho {
  text-align: center;
  margin: 5rem;
}
.cabecalho .about {
  font-weight: 600;
  line-height: 24px;
  color: #8e2424;
  padding: 1rem;
}
.cabecalho .about__titulo {
  padding: 1rem;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.96px;
}
.cabecalho .about_text {
  padding: 1rem;
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-500, #667085);
  text-align: center;
}

.about__mais {
  display: flex;
  padding: 0 5rem;
  gap: 1rem;
}
.about__mais .container__about {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__mais .container__about .about-span {
  font-size: 60px;
  font-weight: 600;
  color: #8e2424;
  line-height: 72px;
  letter-spacing: -1.2px;
}
.about__mais .container__about .about-titulo {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-500, #101828);
}
.about__mais .container__about .about-texto {
  padding-right: 2rem;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-500, #667085);
}

.vagas {
  margin: 8rem 0;
}
.vagas .secao-talentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.vagas .secao-talentos .container__descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.vagas .secao-talentos .container__descricao span {
  color: #8e2424;
  font-size: 0.87rem;
  font-weight: 500;
  line-height: 24px;
}
.vagas .secao-talentos .container__descricao .talentos-titulo {
  color: #101828;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.72px;
}
.vagas .secao-talentos .container__descricao .talentos-texto {
  color: #667085;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
}
.vagas .secao-talentos .imagem {
  width: 90%;
  height: 25rem;
  flex-shrink: 0;
}/*# sourceMappingURL=style.css.map */